 * {
    margin: 0;
    padding: 0;
    font-family: 
Inconsolata, monospace;
    background-color: rgb(255, 255, 255);
}

.form-campo{
    margin-bottom: 16px;
}

h1{
    padding-bottom: 20px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    align-items: center;
    padding-left: 35%;
    padding-top: 30px;
}
.form-campo label{
    font-weight: bold;
    display:block
}

.form-campo input{
    width: 30%;
    display: block;
    padding: 8px;
    background-color: #fff;
    border-radius: 6px;
}

form{
    max-width: 100%;
    padding-top: 40px;
    padding-left: 35%;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

form button{
    max-width: 120px;
}
